body {
    text-align: center;
    background-color: #ff4c68;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4 ,h5 ,h6{
    font-family: 'Montserrat', sans-serif;
}
/* heading */

.title-heading{
    font-family: 'Montserrat', sans-serif;
    padding-top: 100px;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: white;
}

/* title */
 

.navbar-brand{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    margin-left: 10px;
}
#title{
    background-color: #ff4c68;
    font-size: 30px;
    text-align: left;
}

.container-fluid{
    padding: 3% 15% 7%;
}
.nav-item{
    margin-inline: 5% 10%;
    writing-mode: horizontal-tb;
}

.col2{
    transform: rotate(25deg);
    width:15%;
    padding-bottom: 200px;
    padding-left: 150px;
}
.col1{
    text-align: left;
}

/* features */

#features{
    margin-top: -500px;
    padding: 7% 15%;
    position: relative;
    z-index: 1;
    background-color: white;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#ff4c68;
}
.title-features{
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 10px;
    padding-top: 10px;
}
.desc-features{
    color: #81818f;
    padding-top: 10px;
}

/* testimonial */

#testimonials{
    background-color: #ef8172;
    color: white;
    font-size: 20px;
}
.testimonials-text{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
    color: white;
    margin: auto auto 100px auto;
}
.dog-testi{
    border-radius: 100%;
    width: 150px;
    margin-right: 25px;
}

#press{
    background-color: #ef8172;
}

.press-logo{
    width: 10%;
    height: 10%;
    margin: 0 50px 75px auto;
}
.carousel-item{
    padding: 7% 15%;
}
.carousel-control-next{
    margin-top: 11.9%;
}
.carousel-control-prev{
    margin-top: 10.9%;
}
#title-pricing{
    font-family: 'Montserrat';
    font-weight: 700;
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}
#pricing{
    margin-bottom: 50px;
    padding-bottom: 50px;
    background-color: white;
}
.card-text{
    color: black;
    padding-bottom: -50px;
}
#pricing-desc{
    font-family: 'Montserrat';
    padding-bottom: 30px;
    margin-top: 30px;
}
.card-text-price{
    color: black;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card-text{
    margin-top: -35px;
    padding-bottom: 20px;
}
.btn{
    margin-bottom: 25px;
    margin-inline: 10px;
}
/* call to action */

#cta{
    padding-top: 7%;
    background-color: #ff4c68;
    padding-bottom: 7%;
}
#h3-cta{
    margin: auto 20% auto 20%;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 2%;
    color: white;
 }

/* footer */

#footer{
    background-color: white;
    padding-bottom: 25px;
    padding-top: 25px;
}
.footer-text {
    font-size: 20px;
    margin-top: 10px;
}
.fa-brands{
    margin-left: 10px;
}
.fa-solid{
    margin-left: 10px;
}
#logososmed{
    width: 30px;
}
/* media */
@media screen and (max-width: 1028px){
    .col1 {
        text-align: center;
        padding-right: -250px;
        width: 662px;
        height: 450px;
    }
    .h1 {
        text-align: center;
        padding-right: -250px;
    }
    .col2 { 
        transform: rotate(0);
        width: 55%;
        margin-bottom: 250px;
        text-align: center;
        margin-left: -30px;
    }
}

@media screen and (max-width: 480px){
    .col2 { 
        transform: rotate(0);
        width: 20%;
        margin-bottom: 200px;
        margin-left: -550px;
        text-align: center;
        position: relative;
        padding-top: 625px;
        padding-bottom: 75%;
        padding-left: -500px;
    }
}